<!-- Footer https://stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing -->
<footer xmlns:th="http://www.thymeleaf.org"
        th:fragment="footer"
        id="component-footer"
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">

    <ul class="nav col-md-4 justify-content-center">
        <li class="nav-item"><a href="/" class="nav-link px-2 link-body-emphasis">Home</a></li>
        <li class="nav-item"><a href="/" class="nav-link px-2 link-body-emphasis">About</a></li>
    </ul>

    <ul class="nav col-md-4 justify-content-center">
        <li class="nav-item"><a href="#top" class="nav-link px-2 link-body-emphasis">Back To Top</a></li>
    </ul>

    <ul class="nav col-md-4 justify-content-center">
        <li class="nav-item"><a href="https://github.com/EWaterman/gender-in-film" class="nav-link px-2 link-body-emphasis">GitHub</a></li>
    </ul>
</footer>