<div th:fragment="navbar">
    <nav id="component-navbar" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Gender In Film</a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsed down on mobile -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item">
                        <form class="d-flex" role="search" th:action="@{/movies/search}" method="GET">
                            <label htmlFor="user-input"><span class="visually-hidden">Search for a movie</span></label>
                            <input id="user-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="btn btn-outline-success" type="submit">Login</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Will be filled with movies that match the above search. -->
    <div id="movie-list-min-container">
        <div id="replaceable-content"></div>
    </div>
</div>
