body {
  background-color: #F5A9B8;
}

#component-navbar {
  background-color: #5BCEFA;
}

#component-footer {
  background-color: #5BCEFA;
}

#root-main {
  background-color: #FFFFFF;
}

#main-content-container {
  padding: 10px;
}

.simple-grid {
  display: grid;
  gap: 10px;
  justify-content: center;  /* column alignment */
  align-content: center;    /* row alignment */
  align-items: center;      /* vertical alignment within cell */
  justify-items: stretch;   /* horizontal alignment within cell */
}
