:root {
    --trans-blue: #5BCEFA;
    --trans-pink: #F5A9B8;
    --trans-pink-light: #FFC6D1;
    --trans-white: #FFFFFF;
}

body {
  background-color: var(--trans-white);

  /* Used to push the footer to the bottom of the page */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#custom-navbar {
  background-color: var(--trans-blue);
}

#nav-search-bar {
  width: 500px;  /* TODO: be smarter about this */
  position: relative;

  #replaceable-content {
    position: absolute;  /* this plus relative position of parent aligns this directly below the nav */
    margin-top: 5px;
    width: 100%;
    background-color: var(--trans-pink);
    border-radius: var(--bs-border-radius); /* match the radius of the search bar */
  }
}

#custom-footer {
  margin-top: auto;  /* Push to bottom of page */
  background-color: var(--trans-blue);
}

#main-content-container {
  padding: 0.75rem;
}

.subsection {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
}

.simple-grid {
  display: grid;
  gap: 0.75rem;
  justify-content: center;  /* column alignment */
  align-content: center;    /* row alignment */
  align-items: center;      /* vertical alignment within cell */
  justify-items: stretch;   /* horizontal alignment within cell */
}

.custom-a {
  background-color: transparent;

  &:link, &:visited {
    color: black;
    text-decoration: none;
  }
  &:hover, &:active {
    color: var(--trans-pink);
    text-decoration: underline;
  }
}

.header-label {
  font-size: 1.25rem;
}

.title-row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;  /* put the margin on the row itself so all elements are centered */

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .title-row-buttons {
    display: inline;
    margin-left: auto;  /* right aligned */
  }
}

.breadcrumb-nav {
  margin-top: 1rem;
}

#homepage-content {
  text-align: center;
  align-items: center;
  padding: 2rem;
}

.question-div:not(:last-child) {
  margin-bottom: 2rem;
}

.question-tooltip {
  color: blue;
}

#movie-search-result-container {
  .movie-search-result-entry:not(:last-child) {
    border-bottom: thin solid black;
  }
}

.movie-search-result-entry {
  padding: 0.5rem;

  a {
    color: black;
    text-decoration: none;
  }
}
.movie-search-result-entry:hover, .movie-search-result-entry:active, .movie-search-result-entry:focus {
  background-color: var(--trans-pink-light);
}

.movie-search-result-content {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    border-radius: var(--bs-border-radius); /* match the radius of the search results box */
  }
}

.movie-search-result-text {
  p, h6 {
    margin: 0;
  }
}
