<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title>Gender In Film - About</title>
</head>
<body>
    <section layout:fragment="content">
        <div>
            <h2>Why This Site Exists</h2>
            <p>
                Transgender people are historically both underrepresented and misrepresented in media. Gender
                non-conforming characters are often used as plot devices, as the butt of jokes, or for shocking
                reveals. They're also often framed as mentally ill, with traumatic backstories that lead to tragic
                endings.
            </p>
            <p>
                This is of course not to say that transgender characters can never have tragic stories, but when it
                happens so frequently as to form a trope, then that can lead to harmful stereotyping. And that
                stereotyping is doubly problematic when you consider the fact that for many people, their first (and
                sometimes only) experience seeing a trans person is on a screen. When the only transgender people that
                you know are stereotypes, it's easy to see how it might warp your perception of what it means to be one.
            </p>
            <p>
                But all of this is conjecture at this point (though there is undoubtedly great research out there on
                the topic). This site exists as an experimental attempt to quantify the state of genderqueer
                representation in film, with the hope that it inspires further interest and research into the topic,
                and so that we can get a better sense of the impact of that representation.
            </p>
            <p>
                Here are some great links you can check out if you want to learn more:
            <p>
            <ul>
                <li>
                    <a href="https://www.disclosurethemovie.com/about">DISCLOSURE</a>: A documentary outlining the
                    history of transgender representation in film and the impact that poor representation can have
                    on society's perception of gender-queer people.
                </li>
            </ul>
        </div>

        <div>
            <h2>Site Information</h2>
            <p>
                This website is built in SpringBoot with Thymeleaf and runs against a Postgres database. The project is free and
                open source under the <a href="https://github.com/ewaterman/gender-in-film?tab=AGPL-3.0-1-ov-file">AGPL 3.0</a>.
                If you're interested in hosting your own version of the website, or if you'd like to contribute code towards the
                project, please <a href="https://github.com/ewaterman/gender-in-film">check out the GitHub page.</a>
            </p>
        </div>

        <div>
            <h2>Disclaimers & Acknowledgements</h2>
            <p>
                Because the primary focus of the website is on how fictional characters are represented in film, only
                fiction movies are included in the analysis. A study of genderqueer non-fiction films, while
                interesting, is outside the scope of this project.
            </p>
            <p>
                The website is currently a proof of concept, and the questions asked about each character
                are still being developed. The goal is to ask respectful and insightful questions, providing
                data points for further analysis by reflecting upon the meaningful ways that genderqueer
                characters act, are portrayed, and are perceived in their films.
            </p>
            <p>
                While the character questions designed for this website are largely meant to be objective, we
                acknowledge that answering the questions will often require some level of subjectivity. Movies are
                often ambiguous about intent, and therefore the answers will not always be obvious. We've chosen to
                embrace this imperfection with open arms.
            </p>
            <p>
                Like the Bechdel Test, the questions posed in this website are not meant to be an indicator of the
                quality of any individual film, but as an (admittedly oversimplified) way to measure individual trends
                across the industry overall.
            </p>
            <p>
                It is also important to acknowledge the necessity of incorporating genderqueer voices in the discussion.
                Meaningful analysis of a community cannot be done without directly including that community in the
                conversation, lest it risk alienating the very community that it is trying to highlight.
            </p>
            <p>
                Movie posters and other movie metadata are sourced from
                <a href="https://www.themoviedb.org/">The Movie Database</a>.
            </p>
        </div>
    </section>
</body>
</html>
