<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorate="~{layouts/root.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section layout:fragment="content">
        <h1 th:text="${test}"></h1>

        <div class="container">
            <h1>Employee Management System</h1>
            <hr>
            <h2>Save Employee</h2>

            <form action="#" th:action="@{/save}" th:object="${employee}"
                  method="POST">
                <input type="text" th:field="*{name}" placeholder="Employee Name"
                       class="form-control mb-4 col-4"> <input type="text"
                                                               th:field="*{email}" placeholder="Employee Email"
                                                               class="form-control mb-4 col-4">

                <button type="submit" class="btn btn-info col-2">Save
                    Employee</button>
            </form>

            <hr>

            <a th:href="@{/}"> Back to Employee List</a>
        </div>

        <!-- Movie: "x" in uneditable field -->
        <!-- Name: "x" with checkbox for unnamed that blanks out the field and puts UNNAMED -->
        <!-- Type: dropdown with values -->

        <!-- Section for each of the questions. Button for yes, no, unclear, and skip -->
    </section>

</body>
</html>
