<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title></title>
</head>
<body>
    <section layout:fragment="content">

        <h1>Gender In Film</h1>
        <h3>A quantitative investigation into how transgender and genderqueer characters are represented in film.</h3>

        <h4>Look up a movie in the searchbar below to see how its characters are represented.</h4>

        <!-- search bar -->

        <!-- short summary of the site that leads into... -->

        <!-- summary stats -->

    </section>
</body>
</html>
