<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title>Gender In Film</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Gender In Film</h1>
        <h3>A quantitative investigation into how gender-queer characters are represented in film.</h3>

        <h4>Look up a movie in the searchbar below to see how its gender-queer characters are represented.</h4>

        <!-- search bar -->

        <h4>Are we missing a movie that has gender-queer representation?<a th:href="@{/movies/create}">Add it to our database!</a></h4>

        <!-- short summary why that leads into... -->

        <!-- summary stats -->

    </section>
</body>
</html>
