<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title th:text="|Edit ${movieCharacter.character.name ?: 'Character'}|">Edit Character</title>
</head>
<body>
    <main layout:fragment="content">

        <!-- Breadcrumb Navigation -->
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/movies/{movieId}(movieId=${movieCharacter.movie.id})}"
                       th:text="${movieCharacter.movie.name}"></a>
                </li>
                <li class="breadcrumb-item" th:if="${movieCharacter.id != null}">
                    <a th:href="@{/movies/{movieId}/characters/{movieCharacterId}(movieId=${movieCharacter.movie.id},movieCharacterId=${movieCharacter.id})}"
                       th:text="${movieCharacter.character.name}"></a>
                </li>
                <li class="breadcrumb-item active" th:if="${movieCharacter.id == null}" aria-current="page">Add Character</li>
                <li class="breadcrumb-item active" th:if="${movieCharacter.id != null}" aria-current="page">Edit Character</li>
            </ol>
        </nav>

        <section class="subsection">
            <!-- Title -->
            <h2 th:if="${movieCharacter.id == null}">Add Character</h2>
            <h2 th:if="${movieCharacter.id != null}">Edit Character</h2>

            <div class="simple-grid" style="grid-template-columns: 1fr 3fr;">
                <!-- Character Portrait -->
                <img th:src="@{/images/no-person-300.jpg}"
                     th:alt="|Character portrait for ${movieCharacter.character.name}|"
                     class="rounded"
                     width="300">

                <!-- Movie Metadata -->
                <div>
                    <h1 th:text="${movieCharacter.character.name}"></h1>
                </div>
            </div>

        </section>

        <section class="subsection">
            <form th:action="@{/movies/{movieId}/characters/save(movieId=${movieId})}"
                  th:object="${movieCharacter}"
                  method="POST">

                <!-- If we're updating, we need to set the character id. -->
                <input id="character-input-id"
                       type="hidden"
                       th:field="*{id}"
                       class="form-control"
                       value="${movieCharacter.id}">

                <input id="character-input-movie-id"
                       type="hidden"
                       th:field="*{movie.id}"
                       class="form-control"
                       value="${movieCharacter.movie}">

                <!-- Character name -->
                <div class="question-div">
                    <label for="character-input-name" class="form-label header-label"><b>Character Name</b></label>
                    <input id="character-input-name" type="text" th:field="*{character.name}" class="form-control">

                    <!--
                    When initially populating the page, the checkbox should only be checked if the character previously
                    existed (ie we're editing, not creating) and they were unnamed.
                    -->
                    <label for="character-input-unnamed" class="form-label mt-2">Unnamed?</label>
                    <input id="character-input-unnamed"
                           type="checkbox"
                           th:checked="${movieCharacter.id != null && movieCharacter.character.name == null}"
                           onclick="toggleUnnamed()"/>
                </div>

                <!-- Character type -->
                <div class="question-div">
                    <label for="character-input-type" class="form-label header-label"><b>Character Type</b></label>
                    <select id="character-input-type" th:field="*{character.type}" class="form-select">
                        <option th:each="type : ${characterType}"
                                th:value="${type.name()}"
                                th:text="${type.displayText}"></option>
                    </select>
                </div>

                <!-- Character questions -->
                <div th:each="question, iterator : *{questions}" class="question-div">
                    <input type="hidden" th:field="*{questions[__${iterator.index}__].id}" class="form-control">
                    <input type="hidden" th:field="*{questions[__${iterator.index}__].question}" class="form-control">

                    <!-- Question select -->
                    <div class="mb-3">
                        <label th:for="'character-question-answer' + ${iterator.index}"
                               th:utext="|<b>${question.question.displayText}</b>|"
                               class="form-label header-label"></label>
                        <i class="fa-solid fa-circle-info question-tooltip"
                           data-bs-toggle="tooltip"
                           th:title="${question.question.extendedDisplayText}"></i>
                        <select th:id="'character-question-answer' + ${iterator.index}"
                                th:field="*{questions[__${iterator.index}__].answer}"
                                class="form-select">
                            <option th:each="answer : ${answerTypes}"
                                    th:value="${answer.name()}"
                                    th:text="${movieCharacter.questions[__${iterator.index}__].question.getTextForAnswer(answer)}"></option>
                        </select>
                    </div>

                    <!-- Explanation -->
                    <div class="mb-3">
                        <label th:for="'character-question-details' + ${iterator.index}" class="form-label"><b>Explanation</b> (optional)</label>
                        <textarea th:id="'character-question-details' + ${iterator.index}"
                                  th:field="*{questions[__${iterator.index}__].details}"
                                  class="form-control"
                                  rows=3></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-info col-2">Save Character</button>
            </form>
        </section>

        <script>
            // If the character is unnamed, don't allow the user to edit the name.
            function toggleUnnamed() {
                const checkbox = document.getElementById('character-input-unnamed');
                const targetField = document.getElementById('character-input-name');
                if (checkbox.checked) {
                    targetField.value = 'UNNAMED';
                }
                else if (targetField.value == 'UNNAMED') {
                    targetField.value = '';
                }
                targetField.disabled = checkbox.checked;
            }

            // Set the initial state when first loading the page.
            document.addEventListener('DOMContentLoaded', function() {
                toggleUnnamed();
            });
        </script>
    </main>
</body>
</html>
