<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title th:text="|Edit ${tmdbMovie.title ?: 'Movie'}|">Edit Movie</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="container">
            <h2>Add Or Update Movie</h2>

            <form th:action="@{/movies/save}" th:object="${movie}" method="POST">

                <!-- Hidden fields. Remember this is both a create and update page. -->
                <input id="movie-input-id" type="hidden" th:field="*{id}" class="form-control">
                <input id="movie-input-name" type="hidden" th:field="*{name}" class="form-control">
                <input id="movie-input-tmdbId" type="hidden" th:field="*{tmdbId}" class="form-control">

                <!-- TMDB data -->
                <h2 th:text="${tmdbMovie.title}"></h2>
                <img th:src="${#strings.isEmpty(tmdbMovie.posterPath)} ? @{/images/no-poster-300.jpg} : @{'https://image.tmdb.org/t/p/w300/' + ${tmdbMovie.posterPath}}"
                     th:alt="|Poster for ${tmdbMovie.title}|"
                     width="300">

                <!-- Movie questions. -->
                <div th:each="question, iterator : *{questions}">

                    <p th:text="${question.question.displayText}"></p>
                    <!--<p th:text="${question.question.extendedDisplayText}"></p>-->

                    <input type="hidden" th:field="*{questions[__${iterator.index}__].id}" class="form-control">
                    <input type="hidden" th:field="*{questions[__${iterator.index}__].question}" class="form-control">

                    <label th:for="'movie-question-answer' + ${iterator.index}" class="form-label">Answer</label>
                    <select th:id="'movie-question-answer' + ${iterator.index}"
                            th:field="*{questions[__${iterator.index}__].answer}">
                         <option th:each="answer : ${answerTypes}"
                                 th:value="${answer.name()}"
                                 th:text="${answer.displayText}"></option>
                     </select>

                    <label th:for="'movie-question-details' + ${iterator.index}" class="form-label">Details</label>
                    <input th:id="'movie-question-details' + ${iterator.index}"
                           th:field="*{questions[__${iterator.index}__].details}"
                           class="form-control"
                           type="text">
                </div>

                <button type="submit" class="btn btn-info col-2">Save Movie</button>
            </form>
        </div>
    </section>

</body>
</html>
