<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/root.html}"
      lang="en">
<head>
    <title th:text="|Edit ${tmdbMovie.title ?: 'Movie'}|">Edit Movie</title>
</head>
<body>
    <main layout:fragment="content">

        <!-- Breadcrumb Navigation -->
        <nav class="breadcrumb-nav" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:if="${movie.id != null}"
                       th:href="@{/movies/{movieId}(movieId=${movie.id})}"
                       th:text="${movie.name}"></a>
                    <a th:if="${movie.id == null}"
                       th:href="@{/movies/tmdb/{tmdbId}(tmdbId=${tmdbMovie.id})}"
                       th:text="${movie.name}"></a>
                </li>
                <li class="breadcrumb-item active" th:if="${movie.id == null}" aria-current="page">Add Movie</li>
                <li class="breadcrumb-item active" th:if="${movie.id != null}" aria-current="page">Edit Movie</li>
            </ol>
        </nav>

        <section class="subsection">
            <!-- Title -->
            <h2 th:if="${movie.id == null}">Add Movie</h2>
            <h2 th:if="${movie.id != null}">Edit Movie</h2>

            <div class="simple-grid" style="grid-template-columns: 1fr 3fr;">
                <!-- Movie Poster -->
                <img th:src="${#strings.isEmpty(tmdbMovie.posterPath)} ? @{/images/no-poster-300.jpg} : @{'https://image.tmdb.org/t/p/w300/' + ${tmdbMovie.posterPath}}"
                     th:alt="|Poster for ${tmdbMovie.title}|"
                     width="300">

                <!-- Movie Metadata -->
                <div>
                    <h1 th:with="releaseYear=${#strings.isEmpty(tmdbMovie.releaseDate)} ? '' : | (${#temporals.format(#temporals.createDate(tmdbMovie.releaseDate, 'yyyy-MM-dd'), 'yyyy')})|"
                        th:utext="|<b>${tmdbMovie.title}</b>${releaseYear}|"></h1>

                    <p th:text="${tmdbMovie.overview}"></p>
                </div>
            </div>
        </section>

        <section class="subsection">
            <form th:action="@{/movies/save}" th:object="${movie}" method="POST">

                <!-- Hidden fields. Remember this is both a create and update page. -->
                <input id="movie-input-id" type="hidden" th:field="*{id}" class="form-control">
                <input id="movie-input-name" type="hidden" th:field="*{name}" class="form-control">
                <input id="movie-input-tmdbId" type="hidden" th:field="*{tmdbId}" class="form-control">

                <!-- Movie questions -->
                <h2>Movie Questions</h2>
                <div th:each="question, iterator : *{questions}" class="question-div">
                    <input type="hidden" th:field="*{questions[__${iterator.index}__].id}" class="form-control">
                    <input type="hidden" th:field="*{questions[__${iterator.index}__].question}" class="form-control">

                    <!-- Question select -->
                    <div class="mb-3">
                        <label th:for="'movie-question-answer' + ${iterator.index}"
                               th:utext="|<b>${question.question.displayText}</b>|"
                               class="form-label header-label"></label>
                        <i class="fa-solid fa-circle-info question-tooltip"
                           data-bs-toggle="tooltip"
                           th:title="${question.question.extendedDisplayText}"></i>
                        <select th:id="'movie-question-answer' + ${iterator.index}"
                                th:field="*{questions[__${iterator.index}__].answer}"
                                class="form-select">
                             <option th:each="answer : ${answerTypes}"
                                     th:value="${answer.name()}"
                                     th:text="${movie.questions[__${iterator.index}__].question.getTextForAnswer(answer)}"></option>
                        </select>
                    </div>

                    <!-- Explanation -->
                    <div class="mb-3">
                        <label th:for="'movie-question-details' + ${iterator.index}" class="form-label"><b>Explanation</b> (optional)</label>
                        <textarea th:id="'movie-question-details' + ${iterator.index}"
                                  th:field="*{questions[__${iterator.index}__].details}"
                                  class="form-control"
                                  rows=3></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-info col-2">Save Movie</button>
            </form>
        </section>
    </main>

</body>
</html>
